
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body{
    height: 100%;
    background-color: rgb(169, 179, 192);
    font-family: 'Nunito', sans-serif;
}

h1{
    background-color: rgb(40, 42, 48);
    font-size: 1.3em;
    padding: 1rem;
}

h1, h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.lists-container{
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
}


.lists-container h2{
    text-align: left;
    margin-left: 10px;
}
.list{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
    position: relative;
    word-break: break-word;
}
.list:hover{
    background-color: aliceblue;
}

.list h3{
    display: inline;
    font-size: 1.0em;
    text-transform: capitalize;
    margin: 10px;

}


.list .delete-btn{
    float: right;
    border: none;
}
.list-form{
    margin: 5px auto;
    width: 60%;
    border-radius: 3px;
}
 .add-list-button {

 } 


.tasks-container{
    float: right;
    width: 50%;
}
.tasks-container h1{
    display: inline;
    font-size: 1.0em;
    text-transform: capitalize;
}

button > * {
    pointer-events: none;
}
.list > h3{
    pointer-events: none;
}