
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body{
    height: 100%;
    background-color: rgb(169, 179, 192);
    font-family: 'Nunito', sans-serif;
}

.heading{
    background-color: rgb(40, 42, 48);
    padding: 1rem;
}
h1{
    font-size: 1.35rem;
}
.app-name{
    display: inline;
}
.todays-date{
    display: inline;
    float: right;
}

h1, h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.lists-container{
    float: left;
    width: 35%;
    height: 100%;
}


.lists-container h2{
    text-align: left;
    margin-left: 10px;
}
.list{
    max-width: 370px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
    word-break: break-word;
    margin-left: 25px;
}
.list:hover{
    background-color: aliceblue;
}

.list .list-title{
    display: inline;
    font-size: 1.0em;
    text-transform: capitalize;
}


.list .delete-btn{
    border: none;
    position: relative;
    float: right;
}


.tasks-container{
    float: right;
    width: 50%;
}
.tasks-container h2{
    display: inline;
    font-size: 1.78em;
    text-transform: capitalize;

}

button > * {
    pointer-events: none;
}
.list .row > h3{
    pointer-events: none;
}
.task{
    max-width: 550px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 7px;
    position: relative;
    word-break: break-word;
}

.task .delete-btn{
    float: right;
    border: none;
}

.task h3{
    display: inline;
    font-size: 1.0em;
    text-transform: capitalize;
    margin: 10px;

}
