body{
    background: #5e5e5e
}

h1 {
    color: rgb(223, 223, 223);
    text-align: center;
}

.lists-container{
    float: left;
    width: 50%;

}
.lists-container .list{
    background: rgb(208, 155, 216);
    border-radius: 10px;
    margin-bottom: 7px;
    position: relative;
    word-break: break-word;
}

.lists-container .list h2{
    
}

.lists-container .list .delete-button{
    float: left;
    display: inline;
    margin-right: 30px;
}

.tasks-container{
    float: right;
    width: 50%;
}
